body{
    /*background-image: url("blurred.png");*/
    background-image: url('img/warm_end.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }